{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static 'css/shop.css' %}">
  </head>
  <body>
    <div class="container-fluid">
        <div class="row" >
            <div class="col-md-12 "  id="Header" >
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div id="main-logo">
                                <img src="/static/img/main-logo.png" alt="" height="100%" id="img1">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div style="display: flex;justify-content: space-evenly;align-items: center;">
                            <a href="{% url 'home' %}" class="a1">Home</a>
                            <a href="{% url 'about' %}" class="a1">About</a>
                            <a href="{% url 'shop' %}" class="a1">Shop</a>
                            <a href="{% url 'contact' %}" class="a1">ContactUS</a>
                            <a href="{% url 'blog' %}" class="a1">Blogs</a>
                            
                        </div>
                          
                        </div>

                    </div>
                </div>
                <hr>
                <div class="container-fluid">
                    <div class="row" style="height: 800px;margin-top: 50px;">
                        <div class="col-md-6 ">
                            <img src="/static/img/RAhul-removebg-preview.png" alt="" id="img2">
                        </div>
                        <div class="col-md-6 " id="text-iteams">
                            <div >
                                <h1>WELCOME TO  <br>SHOPSECTION</h1>
                            </div>
                            <div>
                                <span class="span1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur, quidem <br> totam veritatis autem dignissimos quos accusamus aperiam ratione <br>aspernatur ducimus. Possimus, cum! Magnam porro ex error esse! Ex, repellat sit.</span>
                            </div>
                            <div>
                                <button class="button1">EXPLORE ITEAMS</button>
                            </div>
                                
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row" style="height: 70px; margin-top: 100px; background-color: #86d728;">
            <div class="col-md-6 " style="display: flex;justify-content: center;">

                <h2>FIND POPULAR BOOKS</h2>
            </div>
            <div class="col-md-6 "></div>
        </div>
    </div>

    <div class="container">

        <div class="row" style="margin-top: 50px;">
            <div class="col-md-3 " style="background-color: white;padding: auto;">
                <div class="card" style="width: 13rem;">
                    <img src="/static/img/stuckwith you.jpg" class="card-img-top" alt="..." style="padding: 20px;">
                    <div class="card-body">
                        <p class="card-text">
                            <a href="" id="navlink2">House of Sky Breath</a><br>
                            <span>Lauren Asher</span>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i><br>
                            <a href="">870$</a>
                            <button class="button2">Buy Now</button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 " style="background-color: white;">
                <div class="card" style="width: 13rem;">
                    <img src="/static/img/mrwrong.jpg" class="card-img-top" alt="..." style="padding: 20px;">
                    <div class="card-body">
                        <p class="card-text">
                            <a href="" id="navlink2">The Two Towers</a><br>
                            <span>Lauren Asher</span>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i><br>
                            <a href="">870$</a>
                            <button class="button2">Buy Now</button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 " style="background-color: white;">
                <div class="card" style="width: 13rem;">
                    <img src="/static/img/underoneroof.jpg" class="card-img-top" alt="..." style="padding: 20px;">
                    <div class="card-body">
                        <p class="card-text"><a href="" id="navlink2">Goal Planner</a><br>
                            <span>Lauren Asher</span>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i><br>
                            <a href="">870$</a>
                            <button class="button2">Buy Now</button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 " style="background-color: white;">
                <div class="card" style="width: 13rem;">
                    <img src="/static/img/theliss.jpg" class="card-img-top" alt="..." style="padding: 20px;">
                    <div class="card-body">
                        <p class="card-text"><a href="" id="navlink2">Stopure E Tomari</a><br>
                            <span>Lauren Asher</span>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i><br>
                            <a href="">870$</a>
                            <button class="button2">Buy Now</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    
    <div class="container">

        <div class="row" style="margin-top: 50px;">
            <div class="col-md-3 " style="background-color: white;padding: auto;">
                <div class="card" style="width: 13rem;">
                    <img src="/static/img/stuckwith you.jpg" class="card-img-top" alt="..." style="padding: 20px;">
                    <div class="card-body">
                        <p class="card-text">
                            <a href="" id="navlink2">House of Sky Breath</a><br>
                            <span>Lauren Asher</span>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i><br>
                            <a href="">870$</a>
                            <button class="button2">Buy Now</button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 " style="background-color: white;">
                <div class="card" style="width: 13rem;">
                    <img src="/static/img/mrwrong.jpg" class="card-img-top" alt="..." style="padding: 20px;">
                    <div class="card-body">
                        <p class="card-text">
                            <a href="" id="navlink2">The Two Towers</a><br>
                            <span>Lauren Asher</span>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i><br>
                            <a href="">870$</a>
                            <button class="button2">Buy Now</button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 " style="background-color: white;">
                <div class="card" style="width: 13rem;">
                    <img src="/static/img/underoneroof.jpg" class="card-img-top" alt="..." style="padding: 20px;">
                    <div class="card-body">
                        <p class="card-text"><a href="" id="navlink2">Goal Planner</a><br>
                            <span>Lauren Asher</span>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i><br>
                            <a href="">870$</a>
                            <button class="button2">Buy Now</button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 " style="background-color: white;">
                <div class="card" style="width: 13rem;">
                    <img src="/static/img/theliss.jpg" class="card-img-top" alt="..." style="padding: 20px;">
                    <div class="card-body">
                        <p class="card-text"><a href="" id="navlink2">Stopure E Tomari</a><br>
                            <span>Lauren Asher</span>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i><br>
                            <a href="">870$</a>
                            <button class="button2">Buy Now</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer style="margin-top: 250px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 ">
                    <div>
                        <img src="/static/img/main-logo.png" alt="" height="100px" style="padding: 20px;"><br>
                        <p style="height: 200px ;padding:20px ;">Lorem ipsum dolor sit, amet consectetur adipisicing
                            elit. Quasi quo eveniet corrupti commodi vero itaque nostrum mollitia praesentium officiis
                            nobis ipsum, ad assumenda tenetur debitis nemo nisi magnam voluptates qui!</p>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div >
                        <p style="font-size: 2rem;">Quick Links</p><br>
                        <a href="{% url 'home' %}" class="anchor" id="navlink">Home</a><br>
                        <a href="{% url 'about' %}" class="anchor" id="navlink">About</a><br>
                        <a href="{% url 'blog' %}" class="anchor" id="navlink">Blogs</a><br>
                        <a href="{% url 'shop' %}" class="anchor" id="navlink">Shop</a><br>
                        <a href="{% url 'contact' %}" class="anchor" id="navlink">Contact</a><br>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div >
                        <p style="font-size: 2rem;">Help and Info Help</p><br>
                        <a href="" class="anchor" id="navlink">Track Your Order</a><br>
                        <a href="" class="anchor" id="navlink">Shiping and delivery</a><br>
                        <a href="" class="anchor" id="navlink">Contact Us</a><br>
                        <a href="" class="anchor" id="navlink">Faqs</a><br>

                    </div>
                </div>
                <div class="col-md-3 ">
                    <div >
                        <p style="font-size: 2rem;">Contact Us</p>
                        <p>Do you Have Any Queries or suggestion?</p>

                        <a href="" class="">rahulgope2712@gmail.com</a>
                        <p>if You Need Support Then Just Give us a call</p>
                        <a href="" class="">+916200463510</a><br>
                        <a href="" class="anchor">Contact Us</a><br>
                        <a href="" class="anchor">Faqs</a><br>

                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="container-fluid">
            <div class="row" style="height: 30px;">
                <div class="col-md-6 "></div>
                <div class="col-md-6 ">
                    <a href="" style="text-decoration: none;">© Copyright 2024 Bookly. Copy karne ka sochna bhi mat</a>
                </div>
            </div>
        </div>
    </footer>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>